
MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_BACKEND_URL=http://localhost:3030
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_d9bb94279ad9727cbbb9b088cd61fc275947e8dca82b15a5ab929d2e39485359
NEXT_PUBLIC_BASE_URL=http://localhost:8000
NEXT_PUBLIC_DEFAULT_REGION=kr
NEXT_PUBLIC_STRIPE_KEY=
REVALIDATE_SECRET=supersecret

NEXT_PUBLIC_PIM_API_BASE_URL=http://localhost:3020

